name = "edilquadro"
pages_build_output_dir = "dist"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

# Environment variables
[vars]
PRERENDER_TOKEN = "w2gqqMwErwI5gtkoxCnD"
PRERENDER_DOMAIN = "https://service.prerender.io"
